.container {
    height: 100vh;
    display: flex; 
    justify-content:  center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(154, 134, 134);
}

.title {
    font-size: 80px;
    color: #FFF;
    animation: flipTitle 2s; 
}

@keyframes flipTitle {
    from {
        transform: rotateX(90deg);
    }
    to {
        transform: rotateX(0deg);
    }
}

.containerInput {
    background-color: rgba(255,255,255,0);
    padding: 15px;
    margin: 34px 0; 
    display: flex; 
    border-radius: 8px;
    box-shadow: 1px 3px 8px #862e2e;

}



.buttonSearch {
  background-color: transparent;
  border: 0;
  cursor: pointer; 
}

.containerInput input::placeholder {
    color: #F1f1f1;

}

.buttonSearch::hover {
    transform: scale(1,2);
}

.main {
    display: flex; 
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    background-color: #FFF;
    width: 500px;
    border-radius: 8px;
}

.main h2 {
    margin: 16px 0;
    font-size: 39px;
}

.main span {
    margin-bottom: 16px; 
    font-weight: bold;
}

@media (max-width: 620px){
   .title {
    font-size: 60px; 
}

.main h2 {
    font-size: 24px; 
}
.main {
    width: 80%; 
    min-height: 250px; 
    
}
}